{% extends "layout.twig" %}

{% block content %}
	<h1>Dashboard Admin</h1>
	<ul>
		<li><a href="/user/add"> Agregar usuario </a></li>
		<li><a href="/job/add"> Agregamos Trabajo </a></li>
	</ul>
	<p><a href="/logout">Logout</a></p>
{% endblock %}
